In [ ]:

"""
pip install pandas
pip install --upgrade pandas
"""

In [1]:
import pandas as pd

In [3]:
df = pd.read_csv(r"\\10\usuarios$\7035\Desktop\Backup Diego\Funcional\2023_Csv\Funcional_Despesas_012023.csv",delimiter=',')
df.head(3)

C:\Users\107035\AppData\Local\Temp\ipykernel_6684\887929391.py:1: DtypeWarning: Columns (9,17) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(r"\\10.8.0.37\usuarios$\107035\Desktop\Backup Diego\Funcional\2023_Csv\Funcional_Despesas_012023.csv",delimiter=',')

,CD_EMPRESA,CD_ARQUIVO,CONTRATO_USUARIO,USUARIO,DEPENDENCIA,CD_PLANO,CD_PRESTADOR_EXECUTOR,TP_REDE,NM_ESPECIALIDADE,DOCUMENTO,...,VL_COPARTICIPACAO,TP_PART_PRESTADOR,CID10,INTER_COSP_TRANSF,PRESTADOR_SOLIC,DT_PAGAMENTO,TP_EVENTO,SERVICO_ORIGINAL,DS_SERV_ORIGINAL,DRG
0,222,5,4429,2223159000126017,1,260,75,1,NaN,10357145,...,65.0,NaN,NaN,N,10018531,15/02/2023,O,10101012,Consulta Em Consultorio (No Horario Normal Ou ...,NaN
1,222,5,5247,2222455001037019,1,257,75,1,NaN,10353541,...,65.0,NaN,NaN,N,10018531,15/02/2023,O,10101012,Consulta Em Consultorio (No Horario Normal Ou ...,NaN
2,222,5,5247,2222455000951000,0,257,75,1,NaN,10353072,...,65.0,NaN,NaN,N,10018531,15/02/2023,O,10101012,Consulta Em Consultorio (No Horario Normal Ou ...,NaN

In [6]:
# Filtrar 1 item especifico de uma coluna
usuariox = df.loc[df['USUARIO'] == 2223159000126017]

In [7]:
usuariox

,CD_EMPRESA,CD_ARQUIVO,CONTRATO_USUARIO,USUARIO,DEPENDENCIA,CD_PLANO,CD_PRESTADOR_EXECUTOR,TP_REDE,NM_ESPECIALIDADE,DOCUMENTO,...,VL_COPARTICIPACAO,TP_PART_PRESTADOR,CID10,INTER_COSP_TRANSF,PRESTADOR_SOLIC,DT_PAGAMENTO,TP_EVENTO,SERVICO_ORIGINAL,DS_SERV_ORIGINAL,DRG
0,222,5,4429,2223159000126017,1,260,75,1,NaN,10357145,...,65.0,NaN,NaN,N,10018531,15/02/2023,O,10101012,Consulta Em Consultorio (No Horario Normal Ou ...,NaN
2518,222,5,4429,2223159000126017,1,260,186,1,NaN,10344686,...,65.0,NaN,NaN,N,10015591,15/02/2023,O,10101012,Consulta Em Consultorio (No Horario Normal Ou ...,NaN
57034,222,5,4429,2223159000126017,1,260,75,1,NaN,10357154,...,0.0,NaN,NaN,N,10018531,15/02/2023,O,40901297,Obstétrica 1º Trimestre (Endovaginal),NaN

In [ ]:
df

In [ ]:
# escolher contratos especificos
contratos = [4429, 5247, 3827]
Df_contratos = df.loc[df['CONTRATO_USUARIO'].isin(contratos)]
Df_contratos

In [ ]:
Df_estados2 = df.loc[df['state'].isin(['Rio de Janeiro','Ceará', 'Rondônia','Bahia','Ceará', 'Rondônia','Bahia','Ceará',    
                                       'Rondônia','Bahia','Ceará', 'Rondônia','Bahia','Ceará', 'Rondônia','Bahia','Ceará',  
                                       'Rondônia','Bahia','Ceará', 'Rondônia','Bahia','Ceará', 'Rondônia','Bahia','Ceará',  
                                       'Rondônia','Bahia'])]
Df_estados2

#### Tratando Nulos

In [10]:
#Substituir valores nulos
df['NM_ESPECIALIDADE'] =           df['NM_ESPECIALIDADE'].fillna('Nao Informado')
df['TP_PART_PRESTADOR'] =            df['TP_PART_PRESTADOR'].fillna('Sem Classificação')
df['VL_COPARTICIPACAO'] =           df['VL_COPARTICIPACAO'].fillna('Sem Copp')
df['DRG'] =      df['DRG'].fillna('Sem Info')

In [ ]:
df

#### Metodo Replace

In [ ]:
# Substituindo os nomes dos estados no DataFrame
"""
df['Coluna'] = df['coluna'].replace(valor_original, valor_substituto)
"""

In [14]:
df['CONTRATO_USUARIO'] = df['CONTRATO_USUARIO'].replace(4429, 'SINTAD')
df['CONTRATO_USUARIO'] = df['CONTRATO_USUARIO'].replace(5247, 'SISEMP FATURAS')
df['CONTRATO_USUARIO'] = df['CONTRATO_USUARIO'].replace(3827, 'UNIMED PALMAS')

In [ ]:
df.head(20)

In [ ]:
# Fazendo a substituição de um valor específico
valor_original = 3827
valor_substituto = 'UNIMED PALMAS'
df['CONTRATO_USUARIO'] = df['CONTRATO_USUARIO'].replace(valor_original, valor_substituto)

In [ ]:
df.head(30)

In [ ]:
# Mapeando os nomes dos estados para substituição Definitiva
# Obs itens criados entre chves {} significa dicionario
mapeamento = {4429: 'SINTAD', 5247: 'SISEMP FATURAS', 3827: 'UNIMED PALMAS'}

# Substituindo os nomes dos estados no DataFrame
df['CONTRATO_USUARIO'] = df['CONTRATO_USUARIO'].replace(mapeamento)

In [ ]:
df.head(30)