In [ ]:
import pandas as pd
import numpy as np
df = pd.read_csv(r"\\10\usuarios$\7035\Desktop\Backup Diego\Funcional\2023_Csv\Funcional_Despesas_012023.csv", delimiter=',')
df.head(2)

In [5]:
df['DOCUMENTO'] = 1
df.head(3)

,CD_EMPRESA,CD_ARQUIVO,CONTRATO_USUARIO,USUARIO,DEPENDENCIA,CD_PLANO,CD_PRESTADOR_EXECUTOR,TP_REDE,NM_ESPECIALIDADE,DOCUMENTO,...,VL_COPARTICIPACAO,TP_PART_PRESTADOR,CID10,INTER_COSP_TRANSF,PRESTADOR_SOLIC,DT_PAGAMENTO,TP_EVENTO,SERVICO_ORIGINAL,DS_SERV_ORIGINAL,DRG
0,222,5,4429,2223159000126017,1,260,75,1,NaN,1,...,65.0,NaN,NaN,N,10018531,15/02/2023,O,10101012,Consulta Em Consultorio (No Horario Normal Ou ...,NaN
1,222,5,5247,2222455001037019,1,257,75,1,NaN,1,...,65.0,NaN,NaN,N,10018531,15/02/2023,O,10101012,Consulta Em Consultorio (No Horario Normal Ou ...,NaN
2,222,5,5247,2222455000951000,0,257,75,1,NaN,1,...,65.0,NaN,NaN,N,10018531,15/02/2023,O,10101012,Consulta Em Consultorio (No Horario Normal Ou ...,NaN

In [13]:
# Concatenando as colunas 'USUARIO' e 'CONTRATO_USUARIO' e armazenando o resultado na coluna 'CONCAT'
df['CONCAT'] = df['USUARIO'] + df['CONTRATO_USUARIO']

# Exibindo os três primeiros valores da nova coluna 'CONCAT'
print(df['CONCAT'].head(3))

0    2223159000130446
1    2222455001042266
2    2222455000956247
Name: CONCAT, dtype: int64

In [16]:
df['DT_PAGAMENTO'].head(3)

0    15/02/2023
1    15/02/2023
2    15/02/2023
Name: DT_PAGAMENTO, dtype: object

In [23]:
# Adicionar coluna com o ano
# Dividindo a string da coluna 'DT_PAGAMENTO' pelo caractere "/" e pegando o segundo e terceiro elementos (mês e ano)
df['MES'] = df['DT_PAGAMENTO'].str.split('/').str[1]
df['ANO'] = df['DT_PAGAMENTO'].str.split('/').str[2]

# Exibindo as três primeiras linhas das novas colunas 'MES' e 'ANO'
print(df[['MES', 'ANO']].head(3))

  MES   ANO
0  02  2023
1  02  2023
2  02  2023

In [24]:
# Dividindo a string da coluna 'DT_PAGAMENTO' pelo caractere "/" e pegando o primeiro elemento (dia)
df['DIA'] = df['DT_PAGAMENTO'].str.split('/').str[0]

# Exibindo as três primeiras linhas da nova coluna 'DIA'
print(df['DIA'].head(3))

0    15
1    15
2    15
Name: DIA, dtype: object

In [30]:
# Definindo os nomes dos meses em português
meses = ['janeiro', 'fevereiro', 'março', 'abril', 'maio', 'junho',
         'julho', 'agosto', 'setembro', 'outubro', 'novembro', 'dezembro']

# Removendo os valores ausentes na coluna 'DT_PAGAMENTO'
df = df.dropna(subset=['DT_PAGAMENTO'])

# Dividindo a string da coluna 'DT_PAGAMENTO' pelo caractere "/" e pegando o segundo elemento (mês)
df['MES'] = df['DT_PAGAMENTO'].str.split('/').str[1]

# Convertendo o mês para inteiro e mapeando para o nome do mês em português
df['NOMEMES'] = df['MES'].apply(lambda x: meses[int(x) - 1] if pd.notnull(x) and x.isdigit() else np.nan)

# Exibindo as três primeiras linhas da nova coluna 'NOMEMES'
print(df['NOMEMES'].head(3))

0    fevereiro
1    fevereiro
2    fevereiro
Name: NOMEMES, dtype: object

In [ ]:
#Filtro
Ano2023 = df.loc[df['ANO'] == 2023]
Ano2023